.home{
font-family: Got;
height:100%;
background-image: url(../../assets/144539.jpg);
font-size: 36px;
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
.tittle{
    padding-right: 180px;
    width: 1367px;
    height: 390px;
    font-family: Got;
    font-size: 150px;
    color: white;
    text-align: center;
    padding-left: 180px;
    padding-top: 270px;
    width: 100%;
}