.imagenGaleria {
    width:100px;
    height:100px;
}
figure {
    margin-bottom:0px !important;
}
.galeriaC{
    text-decoration: none;
    font-family: got;
    font-size: 18px;
}
.estiloedad{
    font-family: got;
    font-size: 24px;
}